/* Write your CSS here */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.dark-about-container {
  background-color: #000000;
}
.light-about-container {
  background-color: #ffffff;
}
.about-img {
  width: 200px;
}
.heading {
  font-size: 28px;
  font-family: 'Roboto';
  font-weight: 500;
  margin: 0px;
}
.dark-heading {
  color: #f8fafc;
}
.light-heading {
  color: #334155;
}
